@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

body {
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #domino {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tittle{
    color: #FFF;
    position: absolute;
    padding-top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Noto Sans", sans-serif;
  }
  
  .card {
    width: 100px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s 0.9s;
    background-color: #FFF;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }

  .card.flipped .item{
    opacity: 1;
  }
  
  .item {
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .item.back {
    transform: rotateY(180deg);
  }

  .item.front img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item.front div{
    display: block;
    margin: 0;
    padding: 0;
    height: 150px;
    margin-top: -50px;
}
